@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.additional {
  $root: &;

  display: flex;
  justify-content: center;
  margin-bottom: 56px;
  border-radius: 24px;
  padding: 49px 0;
  width: 100%;
  background-color: var(--color-yellow-100);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 246px;
    text-align: center;

    &--center {
      margin: 0 102px;
    }
  }

  span {
    margin-bottom: 12px;
    font-weight: var(--fw-700);
    font-size: 64px;
    line-height: 1;

    @include media(mobile-l) {
      font-size: 36px;
    }
  }

  p {
    font-weight: var(--fw-400);
    font-size: 24px;
    line-height: 1.19;

    @include media(mobile-l) {
      font-size: 18px;
    }
  }

  @include media(tablet) {
    justify-content: space-around;

    &__content {
      min-width: unset;

      &--center {
        margin: 0;
      }
    }
  }

  &--double {
    justify-content: space-between;
    margin-bottom: 0;
    border-radius: 0;
    padding: 86px 0;
    width: 100%;
    background-color: unset;

    h2 {
      margin-bottom: 24px;
      font-size: 36px;
      font-weight: var(--fw-400);
      line-height: 1.4;
      letter-spacing: 1.3px;
    }

    p {
      font-size: 20px;
      line-height: 1.4;
    }

    #{$root}__content {
      padding: 48px 36px;
      align-items: flex-start;
      max-width: none;
      text-align: start;
      border-radius: var(--radius-main);

      &--gray {
        background-color: var( --color-gray-100);
        margin-right: 24px;
        max-width: 630px;
      }

      &--yellow {
        background-color: var( --color-yellow-200);
      }
    }

    &.additional--how-it-works {
      #{$root}__content {
        padding: 46px 36px;
      }
    }

    @include media(tablet) {
      flex-direction: column;
      padding: 40px 0;

      #{$root}__content {
        &--gray {
          margin-right: 0;
          margin-bottom: 24px;
          max-width: none;
        }
      }
    }
  }
}