@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.additional {
  $root: &;

  display: flex;
  justify-content: space-evenly;
  margin-bottom: 56px;
  border-radius: 24px;
  padding: 48px 0;
  width: 100%;
  background-color: var(--color-yellow-100);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 246px;
    text-align: center;
  }

  span {
    margin-bottom: 12px;
    font-weight: var(--fw-700);
    font-size: 64px;
    line-height: 1;
  }

  p {
    font-weight: var(--fw-400);
    font-size: 24px;
    line-height: 1.19;
  }

  &--double {
    justify-content: space-between;
    margin-bottom: 0;
    border-radius: 0;
    padding: 86px 0;
    width: 100%;
    background-color: unset;

    h2 {
      margin-bottom: 24px;
      font-size: 36px;
      font-weight: var(--fw-400);
      line-height: 1.4;
    }

    p {
      font-size: 20px;
      line-height: 1.4;
    }

    #{$root}__content {
      padding: 48px 36px;
      align-items: flex-start;
      max-width: none;
      text-align: start;
      border-radius: var(--radius-main);

      &--gray {
        background-color: var( --color-gray-100);
        margin-right: 24px;
        max-width: 630px;
      }

      &--yellow {
        background-color: var( --color-yellow-200);
      }
    }
  }
}