@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: var(--radius-main);
  padding: 10px 24px;
  width: 100%;
  min-width: 140px;
  max-width: fit-content;
  font-weight: var(--fw-700);
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-white);
  background-color: var(--color-dark);
  transition-property: background-color, color, border-color;
  transition-duration: 0.2s;

  &--request,
  &.formsapp-popup-button {
    color: var(--color-white);
    background-color: var(--color-dark);

    &:hover,
    &:focus {
      border-color: var(--color-dark);
      color: var(--color-dark);
      background-color: var(--color-white);
    }
  }

  &--simple {
    border-color: var(--color-dark);
    color: var(--color-dark);
    background-color: var(--color-white);

    &:hover,
    &:focus {
      color: var(--color-white);
      background-color: var(--color-dark);
    }
  }
}