@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.hero {
  $root: &;

  padding: 86px 0 56px;
  display: flex;
  justify-content: space-between;

  &__content {
    z-index: 1;
    width: 100%;
    max-width: 648px;
  }

  h1 {
    font-size: 76px;
    line-height: 1.19;
    margin-right: 24px;
    max-width: 485px;
  }

  p {
    font-weight: var(--fw-400);
    font-size: 24px;
    line-height: 1.5;
  }

  &--home {
    p {
      margin-bottom: 24px;
    }
  }

  &--services {
    padding: 86px 0 56px;

   #{$root}__content { 
      display: flex;
      flex-direction: column;
    }

    p {
      margin-bottom: 48px;
    }

    #{$root}__link {
      display: flex;
      align-items: center;
      font-weight: var(--fw-500);
      font-size: 24px;
      line-height: 1.3;

      &:not(:last-child)  {
        margin-bottom: 24px;
      }

      &::before {
        content: "";
        margin-right: 13px;
        width: 6px;
        height: 6px;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3' cy='3.5' r='3' fill='%23FFC61B'/%3E%3C/svg%3E");
      }

      &::after {
        content: "";
        margin-left: 24px;
        width: 27px;
        height: 15px;
        background-image: url("data:image/svg+xml,%3Csvg width='27' height='15' viewBox='0 0 27 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.7071 8.20711C27.0976 7.81658 27.0976 7.18342 26.7071 6.79289L20.3431 0.428932C19.9526 0.0384078 19.3195 0.0384078 18.9289 0.428932C18.5384 0.819457 18.5384 1.45262 18.9289 1.84315L24.5858 7.5L18.9289 13.1569C18.5384 13.5474 18.5384 14.1805 18.9289 14.5711C19.3195 14.9616 19.9526 14.9616 20.3431 14.5711L26.7071 8.20711ZM0 8.5H26V6.5H0V8.5Z' fill='%232C2E35'/%3E%3C/svg%3E");
      }
    }
  }

  &--articles {
    h1 {
      max-width: 745px;
    }

    img {
      border-radius: var(--radius-main);
    }

    #{$root}__content {
      width: unset;

      @include media(tablet) {
        padding: 0;
        max-width: none;

        img {
          width: 100%;
        }
      }
    }
  }

  @include media(tablet) {
    padding: 0;

    &__inner {
      min-height: 442px;
    }

    &__content {
      padding: 40px 30px;
    }
  }

  @include media(mobile-l) {
    flex-direction: column;

    h1 {
      margin: 0 auto 24px;
    }

    &--services {
      .container {
        padding: 0;
      }

      .hero__inner {
        position: relative;
        padding: 20px 0;
        background-position: center right;
        background-size: 350%;

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          background-color: var(--color-black);
          opacity: 0.7;
        }
      }

      .hero__content {
        padding: 40px;
        position: relative;
        z-index: 1;
      }
    }
  }

  @include media(mobile-m) {
    &--services {
      margin: 0;

      .hero__inner {
        min-height: 650px;
      }
    }

    &__inner {
      border-radius: 0;
    }

    .btn {
      max-width: none;
    }
  }
}