@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.policy {
  padding: 86px 0;
  color: var(--color-dark);

  h1 {
    position: relative;
    margin-bottom: 48px;
    font-size: clamp(32px, 1.6176rem + 1.3vi, 48px);
  }

  h2 {
    margin-bottom: 16px;
    font-weight: var(--fw-700);
    font-size: 24px;
    line-height: 1.6;
  }

  ul {
    margin-bottom: 36px;
  }

  li {
    font-weight: var(--fw-400);
    font-size: 20px;
    line-height: 1.3;

    &::before {
      content: "✓";
    }

    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.3;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  a {
    text-decoration: underline;
  }
}