@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.history {
  display: flex;
  align-items: center;
  padding: 56px 0;

  img {
    margin-right: 48px;
    border-radius: var(--radius-main);
  }

  p {
    font-size: 24px;
  }

  &--reverse {
    padding: 57px 0;

    img {
      margin-right: 0;
    }

    p {
      margin-right: 48px;
    }
  }

  @include media(tablet-wide) {
    flex-direction: column;

    img {
      margin-right: 0;
      margin-bottom: 24px;
      width: 100%;
    }

    &--reverse {
      img {
        margin-right: 0;
      }

      p {
        margin-right: 0;
        margin-bottom: 23px;
      }
    }
  }
}