/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --content-width: 1320px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // font-family
  --font-family-primary: "DM Sans", sans-serif;

  // font-weight
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  // color
  --color-white: #fff;
  --color-dark: #2C2E35;
  --color-yellow-50: #fcfcfa;
  --color-yellow-100: rgba(255, 198, 27, 0.12);
  --color-yellow-150: rgba(252, 252, 250, 0.36);
  --color-yellow-200: #FFC61B;
  --color-gray-100: #F2F2F2;
  --color-gray-200: rgba(44, 46, 53, 0.84);
  --color-gray-300:rgba(44, 46, 53, 0.36);
  --color-gray-400:rgba(44, 46, 53, 0.12);



  //  radius
  --radius-main: 8px;

  // shadow
  --shadow-primary: 0px 8px 8px -4px #1118270A;
  --shadow-secondary: 0px 20px 24px -4px #1118271A;
}